div#chippin_payment_module {
    display: block;
    border: 1px solid #d6d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 17px;
    line-height: 23px;
    color: #333333;
    font-weight: bold;
    padding: 5px 40px 35px 15px;
    letter-spacing: -1px;
    position: relative;
    background-color: #fbfbfb;
    height: 100px;
    background: url('../img/logo.png') left no-repeat #FBFBFB;
}

/* these are from the default theme, normally applied to p.payment_module a */
.chippin-payment {
  display: block;
  border: 1px solid #d6d4d4;
  border-radius: 4px;
  font-size: 17px;
  line-height: 23px;
  color: #333;
  font-weight: bold;
  padding: 33px 40px 34px 99px;
  letter-spacing: -1px;
  position: relative;

  /* extra overrides */
  width: 100%;
  text-align: left;
  background-color: #fbfbfb;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 10px 50%;
}
.chippin-payment:hover {
  background-color: #f6f6f6;
}
.payment_module button span {
  font-weight: bold;
  color: #777;
}

.payment_module .chippin-payment:after {
  display: block;
  content: "\f054";
  position: absolute;
  right: 15px;
  margin-top: -11px;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 25px;
  height: 22px;
  width: 14px;
  color: #777;
  
}

.chippin_checkout_button {
  padding-bottom: 11px;
}

.payment-return-padding-top {
  padding-top: 7px;
}
